.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search input {
  margin-left: 10px;
}

.inputNumber {
  width: 60px;
}

.search label {
  margin: 10px;
}

.ebooks {
  margin: 0 auto;
}

.book {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 30px;
  width: 200px;
  height: 270px;
  padding: 5px;
  border: 1px solid #ccc;
}

.book img {
  width: 180px;
  height: 160px;
  align-self: center;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptions span {
  font-size: 12px;
}